<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Random Word Generator</title>
      <!--{% load static %}
    <The line above tells Django to be ready to listen for static files 
    <link rel="stylesheet" href="{% static 'ourApp/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
    < Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->    
    </head>
  <body>
    <h2>Random Word (Attempt # {{ request.session.number }})</h1>
    <h1> {{ request.session.word }} </h1>
    <a href="/generate">Generate</a>  
    <a href="/reset">Reset</a>
    </form> 
  </body>
</html>