/*reset*/
* {
	outline: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
  }

body {
  width: 970px;
  padding: 20px;
}
#newword {
  width: 200px;
  height: 20px;
  border: 1px solid darkslategray;
}

#addword {
  width: 420px;
  border-right: 4px solid black;
  display: inline-block;
  font-size: 16pt;
  font-family: sans-serif;
}
#addword p {
  margin-bottom: 8px;

}
#subbut {
  width: 200px;
  height: 50px;
  font-size: 18pt;
  background-color: red;
  color: black;
  border: 2px solid black;
}

#postsession {
  width: 420px;
  display: inline-block;
  vertical-align: top;
 }

#postsession button {
  width: 200px; 
  height: 50px;
  font-size: 18pt;
  background-color: yellow;
  color: black;
  border: 2px solid black;
  margin-bottom: 10px;
}

.big {
  font-size: 28pt;
  font-weight: bold;
}
.word {
  margin: 0px auto;
}